.block{
    display: flex;
    height:100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: aquamarine;
}
.image{
    width:14vw;

}
.Link{
    text-decoration: none;
    display: flex;
    width:100%;
    color: darkblue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.smallerBlock{
    width:20vw;
    height:45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid blue;
    margin: 20px;
    justify-content: space-evenly;
}
.buttonBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}
.heart{
    font-size: 20px;
    color: blue;

}
.heart:hover{
    transition:300ms;
    color: #ff0000;
}
.heart:active{
    color: firebrick;
}